* {
    box-sizing: border-box;
}

:root {
    --light: #f4f4f5;
    --main: #476d5b;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(../images/header-background.jpeg);
    background-size: cover;
    background-position: center;
}

header h1 {
    color: var(--light);
    background-color: var(--main);
    padding: 0% 3% 0% 3%;
    line-height: 1;
    font-size: 4vw;
    border-radius: 30px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 3%;
}

nav a {
    text-decoration: none;
    font-weight: bolder;
    padding: 5px;
    margin-right: 20px;
    color: var(--main);
    font-size: 24px;
    background-image: linear-gradient(280deg, var(--main) 0%, var(--main) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all .25s ease-in;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--light);
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

footer h3 {
    text-align: center;
    margin: auto;
}

ul {
    padding-left: 0px;
}

li {
    display: inline-block;
    list-style: none;
    margin: 0px 50px;
    border-bottom: 3px solid black;
    font-size: 150%;
}


.hero {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url(../images/be-awesome.jpeg);
    margin-bottom: 30px;
    width: 100%;
    height: 750px;
    background-size: cover;
    background-position: center;
}

.hero h2 {
    padding: 0% 3% 0% 3%;
    margin: 10px 100px 25px 10px;
    font-size: 200%;
    color: var(--light);
    background-color: var(--main);
    border-radius: 25px;
}

.avatar-pic {
    height: 320px;
    width: 320px;
    background-image: url(../images/me2.JPG);
    border-radius: 150px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}

.content-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex: 1 0 33%;
    height: 200px;
    border: 5px solid var(--second);
}

.main-card {
    flex: 1 0 80%;
    height: 500px;
    background-image: url(../images/surf-report.jpeg);
    background-size: cover;
    background-position: center;
}

.one {
    background-image: url(../images/led-wall.jpeg);
    background-size: cover;
    background-position: center;
}

.two {
    background-image: url(../images/calculator.jpeg);
    background-size: cover;
    background-position: center;
}

.three {
    background-image: url(../images/pastel.png);
    background-size: cover;
    background-position: center;
}

.four {
    background-image: url(../images/run-buddy.png);
    background-size: cover;
    background-position: center;
}

#bio-header {
    display: flex;
    justify-content: flex-end;
    border-right: 5px solid black;
    flex: 1 0 20%;
}

#bio-header h2 {
    display: block;
    font-size: 300%;
    margin-right: 15px;
}

#bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 0 80%;
}

#bio p {
    margin: 0px 30px;
}

#work-header {
    display: flex;
    justify-content: flex-end;
    border-right: 5px solid black;
    flex: 1 0 20%;
}

#work-header h2 {
    display: block;
    font-size: 300%;
    margin-right: 15px;
}

#projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 0 80%;
}

#contact-header {
    display: flex;
    justify-content: flex-end;
    border-right: 5px solid black;
    flex: 1 0 20%;
}

#contact-header h2 {
    display: block;
    font-size: 300%;
    margin-right: 15px;
}

#contact-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex: 1 0 80%;
}
  
  /* media query for larger screens */
  @media screen and (max-width: 992px) {
    header {
        flex-direction: column;
    }

    header h1 {
        width: 100%;
        flex: 0 0 100%;
        text-align: center; 
        padding: 0%;
    }

    .hero {
        justify-content: center;
    }
        

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; 
        margin: 0px 20px;
    }

    .content-header {
        flex-direction: row;
    }

    #bio {
        padding-top: 15px;
    }

    #bio-header {
        justify-content: center;
        border-right: none;
        flex: 1 0 100%;
        border-bottom: 5px solid black;
    }

    #projects {
        padding-top: 15px;
    }

    #work-header {
        justify-content: center;
        border-right: none;
        flex: 1 0 100%;
        border-bottom: 5px solid black;
    }

    #contact-links {
        padding-top: 15px;
    }

    #contact-header {
        justify-content: center;
        border-right: none;
        flex: 1 0 100%;
        border-bottom: 5px solid black;
    }
}