* {
    box-sizing: border-box;
}

:root {
    --first: #31343d;
    --second: #92ccce;
    --third: #445877;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

header {
    padding: 15px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--first);
}

header h1 {
    color: var(--first);
    background-color: var(--second);
    padding: 0% 1% 0% 9%;
    line-height: 1;
    font-size: 4vw;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 3%;
}

nav a {
    text-decoration: none;
    padding: 5px;
    margin-right: 20px;
    color: var(--second);
    font-size: 24px;
    background-image: linear-gradient(280deg, var(--second) 0%, var(--second) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all .25s ease-in;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--first);
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

footer h3 {
    text-align: center;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url(../images/be-awesome.jpeg);
    margin-bottom: 30px;
    width: 100%;
    height: 750px;
    background-size: cover;
    background-position: center;
}

.hero h2 {
    padding: 0px 2px 0px 2px;
    margin: 10px 100px 25px 10px;
    font-size: 200%;
    color: white;
    background-color: var(--second);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}

.card {
    display: flex;
    flex: 1 0 33%;
    height: 200px;
    border: 5px solid black;
}

.main-card {
    flex: 1 0 80%;
    height: 500px;
    background-image: url(../images/surf-report.jpeg);
    background-size: cover;
    background-position: center;
}

.one {
    background-image: url(../images/led-wall.jpeg);
    background-size: cover;
    background-position: center;
}

.two {
    background-image: url(../images/calculator.jpeg);
    background-size: cover;
    background-position: center;
}

.three {
    background-image: url(../images/pastel.png);
    background-size: cover;
    background-position: center;
}

.four {
    background-image: url(../images/run-buddy.png);
    background-size: cover;
    background-position: center;
}

#bio-header {
    display: flex;
    justify-content: flex-end;
    border-right: 5px solid black;
    flex: 1 0 20%;
}

#bio-header h2 {
    display: block;
    font-size: 300%;
    margin-right: 15px;
}

#bio {
    flex: 1 0 80%;
}

#bio p {
    margin-left: 30px;
}

#work-header {
    display: flex;
    justify-content: flex-end;
    border-right: 5px solid black;
    flex: 1 0 20%;
}

#work-header h2 {
    display: block;
    font-size: 300%;
    margin-right: 15px;
}

#projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 0 80%;
}

#contact-header {
    display: flex;
    justify-content: flex-end;
    border-right: 5px solid black;
    flex: 1 0 20%;
}

#contact-header h2 {
    display: block;
    font-size: 300%;
    margin-right: 15px;
}

#contact-links {
    flex: 1 0 80%;
}